<!DOCTYPE html>
<html>

    <head>
        <title>LCC | About</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">MIT Latino Cultural Center</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="/exec">Executive Board</a>
                  <a class="nav-item nav-link" href="/clubs">Member Organizations</a>
                  <a class="nav-item nav-link" href="/contact">Contact Us</a>
                </div>
            </div>
        </nav>
        <div class="container padding-top-small">
            <h1>About</h1>
            <p class="padding-bottom-small"> The Latino Cultural Center (LCC) functions as the hub for Latino students and student organizations, as well as individual community members interested in learning more about Latino culture.
            The LCC is composed of two main parts, the business offices of the student organizations, and the lounge for academic and social activities.
            The purpose of the LCC is to provide a space for students to meet with study groups or to study individually, to socialize, and to hold cultural and social events.
            </p>
    
            <h1>History</h1>
            <p class="padding-bottom-small"> During the 2001-2002 academic year, the Latino community on MIT's campus , with alumni support, raised some serious concerns about feeling under- supported by the Office of Minority Education, the Division of Student Life, and the Latino faculty. As part of the response to these issues, in the summer of 2002, the Latino Cultural Center (LCC) was created at the direction of the then-Deans Larry Benedict (Division of Student Life ) and Robert Redwine (Dean for Undergraduate Education). Latino student groups were given space (offices and a lounge in the basement of the Student Center, Building W20) - which they had never had before - and resources (a small budget and office supplies).
            In the fall of 2002, the LCC opened to provide students, particularly Latino students, with a place to share and enjoy Latino culture on MIT's campus. Key students involved in the creation of the LCC were Desiree Ramirez, Terrance Strader, and Ray Morales, who all worked persistently to make the long sought concept of the LCC a reality. The LCC includes two areas: the main lounge is used by students for studying and socializing and by student groups for general body meetings, information sessions, academic programs, study groups, workshops, political and social activities, dance and theatrical rehearsals, and movie screenings. The office behind the lounge contains group storage space, computers for student use, and a meeting space that is used both for studying and for group executive board meetings.
            For some, the LCC is a culturally-enriching space, while for others the Center is a much-needed reminder of life at home. Overall, the LCC is a place to study, spend time with friends, form support groups, network, and enjoy all aspects of Latino culture at MIT.
            </p>

            <h1 class="padding-bottom-tiny">Main Events</h1>
            <h2>Cena A Las Seis</h2>
            <p>Cena a las Seis, or "Dinner at Six," is an annual LCC-orgnaized Family Weekend event where we bring MIT students and their families together for a semi-formal evening of Latino cuisine and student performances and presentations. 
                The student groups that annually participate in the organization and execution of this event are the Latino Cultural Center, La Union Chicana por Aztlan, the MIT Chapter of the Society of Latino Engineers and Scientists, the 
                Association of Puerto Rican Students, Casino Rueda, Mujeres Latinas and the MIT Chapter of the Society of Hispanic Professional Engineers.</p>

            <h2>Gala Sabrosura!</h2>
            <p>Gala Sabrosura!, the semi-formal Latino cultural night, is held during the spring semester. In the past, the event has been very successful, attracting attendances of over 150 guests. This year, we hope to draw an 
                even bigger and more diverse crowd by organizing a more aggressive advertising campaign and contracting a professional DJ to play only the best Latino music throughout the night. Please check back at the beginning 
                of the spring semester for more details regarding Gala Sabrosura 2016!</p>

            <h2>Festival de las Americas</h2>
            <p>The purpose of Festival is to promote Latino culture and food to the greater MIT community during Mes Latino. To participate in the activity, guests must walk around the festival and answer trivia questions about Latin America 
                (which are posed by representatives from the different LCC groups). After answering at least three questions, guests can turn in their vouchers for delicious cultural food. At the same time, the exhibitor groups have the chance 
                to promote Latino culture and their respective organizations to the wider MIT community.</p>
        </div>


    </body>
</html>
