<!DOCTYPE html>
<html>

    <head>
        <title>LCC | Member Organizations</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">MIT Latino Cultural Center</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="/exec">Executive Board</a>
                  <a class="nav-item nav-link active" href="/clubs">Member Organizations</a>
                  <a class="nav-item nav-link" href="/contact">Contact Us</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <!-- Organizations Grid -->
            <h1 class="padding-top-small padding-bottom-small">Member Organizations</h1>

            <div class="container-fluid text-center">
                <div class="row mx-auto padding-bottom-small">

                    <div class="col mx-auto padding-bottom-small">
                        <div class="card organization-card mx-auto">
                            <a href="http://maes.mit.edu">
                                <img class="card-img-top img-fluid" src="/images/organizations/maes.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">MAES | Latinos in Engineering and Science</h5>
                                <p class="card-text">MAES at MIT is a tight-knit community that focuses 
                                    on the professional development of its individual members, offering them 
                                    resources and opportunities for success.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mx-auto padding-bottom-small">
                        <div class="card organization-card mx-auto">
                            <a href="http://lucha.mit.edu">
                                <img class="card-img-top img-fluid" src="/images/organizations/lucha.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">LUCHA</h5>
                                <p class="card-text">LUCHA at MIT is dedicated to 
                                    provinding both cultural and academic support to students who identify in any way with the Latino culture. We 
                                    are a familia dedicated to supporting each other and creating bonds that last throught a student's entire time 
                                    here at MIT.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mx-auto padding-bottom-small">
                        <div class="card organization-card mx-auto">
                            <a href="http://www.mitcasinorueda.com/">
                                <img class="card-img-top img-fluid" src="/images/organizations/casino.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Casino Rueda</h5>
                                <p class="card-text">MIT Casino Rueda is a group devoted to promote, teach, and perform Rueda de Casino.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mx-auto">

                    <div class="col mx-auto padding-bottom-small">
                        <div class="card organization-card mx-auto">
                            <a href='http://shpe.mit.edu/'>
                                <img class="card-img-top img-fluid" src="/images/organizations/shpe.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">SHPE | Society of Hispanic Professional Engineers</h5>
                                <p class="card-text">SHPE is the Source for Quality Hispanic Engineers and Technical Talent.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mx-auto padding-bottom-small">
                        <div class="card organization-card mx-auto">
                            <a href='https://www.linkedin.com/in/romeo-flores-612853112/'>
                                <img class="card-img-top img-fluid" src="/images/organizations/mujeres.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Mujeres</h5>
                                <p class="card-text">Mujeres Latinas is an organization that seeks the social and professional advancement 
                                    as well as the cultural enrichment of Latinas in the MIT community, promotes the success of individual 
                                    Latinas by providing support and guidance in their endeavors, and... (?)</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </body>
</html>
