<!DOCTYPE html>
<html>

    <head>
        <title>LCC Member Organizations</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">MIT Latino Cultural Center</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="/exec">Executive Board</a>
                  <a class="nav-item nav-link active" href="/clubs">Member Organizations</a>
                  <a class="nav-item nav-link" href="/contact">Contact Us</a>
                </div>
            </div>
        </nav>


        <!-- Organizations Grid -->
        <h1 class="padding-top-small padding-bottom-small">Member Organizations</h1>

        <div class="container-fluid text-center">
            <div class="row mx-auto padding-bottom-small">

                <div class="col mx-auto padding-bottom-small">
                    <div class="card exec-card mx-auto">
                        <a href="https://www.linkedin.com/in/matias-hanco-a89590bb/">
                            <img class="card-img-top img-fluid" src="/images/president.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">MAES Latinos in Engineering and Science</h5>
                            <p class="card-text">President</p>
                        </div>
                    </div>
                </div>

                <div class="col mx-auto padding-bottom-small">
                    <div class="card exec-card mx-auto">
                        <a href="https://www.linkedin.com/in/jennifer-madiedo-b93232108/">
                            <img class="card-img-top img-fluid" src="/images/vp.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Jennifer Madiedo</h5>
                            <p class="card-text">Vice President</p>
                        </div>
                    </div>
                </div>

                <div class="col mx-auto padding-bottom-small">
                    <div class="card exec-card mx-auto">
                        <a href="#">
                            <img class="card-img-top img-fluid" src="/images/dirExternal.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Alonso Espinoza Dominguez</h5>
                            <p class="card-text">Director of External Affairs</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mx-auto">

                <div class="col mx-auto padding-bottom-small">
                    <div class="card exec-card mx-auto">
                        <a href='#'>
                            <img class="card-img-top img-fluid" src="/images/dirFinance.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Uriel Magana</h5>
                            <p class="card-text">Director of Finance</p>
                        </div>
                    </div>
                </div>

                <div class="col mx-auto padding-bottom-small">
                    <div class="card exec-card mx-auto">
                        <a href='https://www.linkedin.com/in/romeo-flores-612853112/'>
                            <img class="card-img-top img-fluid" src="/images/dirOperations.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Romeo Flores</h5>
                            <p class="card-text">Director of Operations</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>
