<!DOCTYPE html>
<html>

    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>

    <body>
        <h1>
            Contact Information
        </h1>
        Questions or comments? Contact us through <a href="mailto:lcc-exec@mit.edu">email</a> and check us out on social media!
        <ul>
          <li><a href="https://www.facebook.com/groups/mitlatinoculturalcenter/">Facebook</a></li>
          <li><a href="https://www.instagram.com/mitlcc/">Instagram</a></li>
        </ul>

    </body>

</html>
