<!DOCTYPE html>
<html>

    <head>
        <title>Latino Cultural Center</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">MIT Latino Cultural Center</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="/exec">Executive Board</a>
                  <a class="nav-item nav-link" href="/clubs">Member Organizations</a>
                  <a class="nav-item nav-link" href="/contact">Contact Us</a>
                </div>
            </div>
        </nav>

        <h2>
            Welcome to the Latino Cultural Center!
        </h2>
        </p>
            The Latino Cultural Center (LCC) functions as the hub for Latino students and student organizations, as well as individual community members interested in learning more about Latino culture.
            The LCC is composed of two main parts, the business offices of the student organizations, and the lounge for academic and social activities.
            The purpose of the LCC is to provide a space for students to meet with study groups or to study individually, to socialize, and to hold cultural and social events.
        </p>

        <h2>
            Upcoming events
        </h2>
        <div>

        </div>

        <div id='footer'>

        </div>

    </body>

</html>
