body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.exec-card {
  width: 280px;
}

.organization-card {
  width: 310px;
}

/* PADDING */

.padding-top-large {
  padding-top: 120px;
}

.padding-top-medium {
  padding-top: 80px;
}

.padding-top-small {
  padding-top: 25px;
}

.padding-bottom-large {
  padding-bottom: 120px;
}

.padding-bottom-medium {
  padding-bottom: 80px;
}

.padding-bottom-small {
  padding-bottom: 40px;
}

.padding-bottom-tiny {
  padding-bottom: 10px;
}

.margin-bottom-medium {
  margin-bottom: 40px;
}